<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
    <style>
        li{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li>
            <h4 th:text="${name}"></h4>
            <h4 th:text="${lastname}"></h4>
        </li>
        <li>
            <h4 th:text="${user.name}"></h4>  <!-- para sacar atributos del objecto user -->
            <h4 th:text="${user.lastName}"></h4> 
            <h4 th:text="${user.email}"></h4> 
            <h4 th:if="${user.email} == null" th:text="${'No tiene correo'}"></h4>
        </li>
        <li>
            <h4 th:text="${user2.name}"></h4>  <!-- para sacar atributos del objecto user -->
            <h4 th:text="${user2.lastName}"></h4> 
            <h4 th:text="${user2.email}"></h4> 
            <h4 th:if="${user2.email} == null" th:text="${'No tiene correo'}"></h4>
        </li>
        <li>
            <h4 th:text="${user3.name}"></h4>  <!-- para sacar atributos del objecto user -->
            <h4 th:text="${user3.lastName}"></h4> 
            <h4 th:text="${user3.email}"></h4> 
            <h4 th:if="${user3.email} == null" th:text="${'No tiene correo'}"></h4> <!-- directiva if en thymeleaf-->
        </li>
        <li>
            <h4 th:text="${user4.name}"></h4>  <!-- para sacar atributos del objecto user -->
            <h4 th:text="${user4.lastName}"></h4> 
            <h4 th:text="${user4.email}"></h4> 
            <h4 th:if="${user4.email} == null" th:text="${'No tiene correo'}"></h4> <!-- directiva if en thymeleaf-->
        </li>
    </ul>



</body>
</html>