<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <div th:if="${users.isEmpty()} " th:text="${'No tiene usuarios'}"></div>
    <table th:if="not ${users.isEmpty()}" border="1px"> <!-- es una manera de que sea un else-->
        <thead>
            <tr>
                <th>name</th>
                <th>lastname</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" user : ${users}">
                <td th:text="${user.name}"></td> <!--El signo pesos es para interpolar objetos-->
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email == null}" th:text="${'no tiene email'}"></td>
                <td th:if="${user.email != null}" th:text="${user.email}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/statusModel}">ver hello</a> <!--El arroba pesos es para interpolar rutas-->
    <br>
    <a th:href="@{'/Params/foo?message='+ ${title}}">ver mesaje</a> <!--El como interpolar parametros en la ruta-->
    <br>
    <a th:href="@{/Params/foo(message='otra forma')}">forma dos</a>
    <br>
    <a th:href="@{/Params/bar(param='otra forma',code=321)}">forma tres</a>

    <br>
    <a th:href="@{/path/baz/un mensaje}">path</a>
</body>
</html>